#ItemDisplay {
	position:fixed;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	width:375px;
	height:400px;
	display: none;
	background-color: white;
	border: solid 1px #BCBABA;
	border-radius: 5px;
	z-index: 200;
}

#ItemDisplayHeader {
	text-align:center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size:40px;
	margin: 25px 0px 0px 0px;
}

#ItemDisplayDiscription {
	
}

#ItemDisplayPricing{
	text-align:center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	margin:0px;
	font-size:16px;
}

#AddToCart {
	position:absolute;
	width:120px;
	height:40px;
	border-radius:4px;
	bottom:15px;
	right:35px;
	color:white;
	background-color: #5CE198;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	display: flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}

/*Continue shopping, and proceed to checkout button are already in Cart.css file*/